@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categoryBtn {
    @apply px-5 py-3 rounded-lg bg-slate-300 text-slate-900 mx-2 w-full font-semibold;
}