@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: radial-gradient(circle, #3a475c, #2c3954, #202a4b, #161c42, #0f0c37);
}

.categoryBtn {
    @apply px-5 py-3 rounded-lg bg-slate-300 text-slate-900 mx-2 w-full font-semibold;
}